pydantic~=2.10.3
aiohttp>=3.8.5
openai>=1.0.0
qq-botpy>=2.0.0
chardet~=5.1.0
Pillow>=10.0.1
beautifulsoup4>=4.12.2
googlesearch-python>=1.2.0
readability-lxml>=0.8.1
quart>=0.18.4
psutil>=5.9.5
lxml_html_clean>=0.1.0
colorlog>=6.7.0
aiocqhttp>=1.4.4
pyjwt>=2.8.0
apscheduler>=3.10.4
docstring_parser>=0.15
aiodocker>=0.21.0
silk-python>=0.1.1
requests>=2.31.0